fastapi
uvicorn[standard]
pydantic
pydantic-settings
python-dotenv
motor
pymongo
python-multipart
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
python-jose[cryptography]
httpx
pytest
pytest-asyncio
reportlab
redis
rq
sqlalchemy
asyncpg
psycopg2-binary
pandas
numpy
